@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
//font-family: 'Orbitron', sans-serif;
$orbitron: "Orbitron", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
$karla: "Karla", sans-serif;
$white: #ffffff;
$black: #171717;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.black-div {
  background-image: url("../assets/movie-bg-img.jpg");
  background-position: center;
  height: 100vh;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 180px;
  position: relative;
}
.logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: $orbitron;

  .logo-title {
    font-size: 50px;
    text-decoration: none;
    color: white;
  }
  .logo-desc {
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
  }
}

.unable-to-find {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 100px;
  height: 100px;
}
.spinner-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
